.typewriter {
  line-height: 1em;
  overflow-wrap: break-word;
  user-select: none;
  font-family: "Tiny5";
}

.dialogue-box {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: 35px solid;
  border-image: url("../assets/ui/dialogue-box.png") 15 15 15 15 fill repeat;
}
