@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: "Tiny5";
  src: url("/src/assets/fonts/Tiny5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("/src/assets/fonts/Jura.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PixelifySans";
  src: url("/src/assets/fonts/PixelifySans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::placeholder {
  color: gray;
  opacity: 1;
  font-family: "PixelifySans";
}
